
  .main{
    padding: 5%;
  }
  body {
    font-size: 14px;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    padding-top: 5%;
  }

  #footer{
    background: #222c36;padding:5%;text-align: center;vertical-align: middle;
  }


  a,span,h2,h3,h4{
    color:white;
  }


  #wrap {

    background: #002855;
    padding: 5%;
    /*margin-top: 40px;*/
    /*width: 1100px;*/
    /*margin: 0 auto;*/
  }

  #external-events {

    height: 100vh;
    overflow-y: scroll;
    float: left;
    width: 150px;
    padding: 10px;
     background-color: #002855;
    text-align: left;
  }

  .scrollbar {
    background-color: #F5F5F5;
    float: left;
    height: 300px;
    margin-bottom: 25px;
    margin-left: 22px;
    margin-top: 40px;
    width: 65px;
    overflow-y: scroll;
}

  .fc-list-table {
    background: white;
    justify-content: center;
    text-align: center;
  }
  .fc-location{
    /*width: 100%;*/
    color: black();
    font-weight: bold;
  }

  .fc-list-heading-main{
    color: black;
  }
  .fc-list-heading-alt{
    color: grey;
  }
  .navbar-toggler{
       margin-left: 50%;
  }

.fc-scroller::-webkit-scrollbar-thumb {
    background-color: #c99700;
}


.fc-scroller::-webkit-scrollbar-thumb:hover {
    background-color: #fcbd00;
}

  .fc-scroller::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
} 
  .fc-scroller::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}


#external-events::-webkit-scrollbar-thumb {
    background-color: #c99700;
}


#external-events::-webkit-scrollbar-thumb:hover {
    background-color: #fcbd00;
}


  #external-events::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
} 
  #external-events::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

  .nav-link{
    color: #002855 !important;
    font-size: 20px;
  }

  .nav-link:hover{
    color: #113977 !important;;
  }
  .navbar-brand
  {
    width: 400px;
    padding-right: 5%;
  }

  #notify{
    direction: ltr; 
    justify-content: left; 
    text-align: center;
    width: 45%;
  }
  #external-events h4 {
    font-size: 16px;
    margin-top: 0;
    padding-top: 1em;
   
  }

  #external-events .fc-event {
    margin: 10px 0;
    cursor: pointer;
  }

  #external-events p {
    margin: 1.5em 0;
    font-size: 11px;
    color: #666;
  }

  .fc-event{
     background-color: #c99700;
     border: none;
     padding: 2.5%;
  }

  .nav-item{
    margin: 1%;
    padding-left: 10%;

    padding-right: 10%;
  }
  .btn-outline-success{
    margin-left: 2.5%;
    margin-bottom:10px;
  }

  #external-events p input {
    margin: 0;
    vertical-align: middle;
  }

  #calendar {
    float: right;
    width: 80%;
  }

  .fc-title{
    color: white;
    font-weight: bold;
  }


  .fc-time > span{ 
    color: white;
  }

